/* -----
Font Family
----- */
$calibre:'Calibre Regular', sans-serif;
$font: $calibre;


/* -----
Font Weight
----- */
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;

a {
  color: black;
}


p, li, span, div, a {
  
  font-family: $font;
  
  @include font-size(16, $mobile);

  @include media-query("b-s-up") {

    @include font-size(16, $tablet);
  }

  @include media-query("b-m-up") {
    @include font-size(14, $desktop);
  }

}

p {
  margin-bottom : tovw(30, $mobile);

  @include media-query("b-s-up") {
    margin-bottom : tovw(16, $tablet);
  }

  @include media-query("b-m-up") {
    margin-bottom : tovw(14, $desktop);
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}