<div id="about" class="page" data-router-view="about">
  <div class="wrapper">
    <div class="vertical">
      <div>
        <p><strong>About</strong> > <a href="/">Home</a></p>
       
      </div>
    </div>
  </div>
<div>