<div id="home" class="page" data-router-view="home">
  <div class="wrapper">
    <div class="vertical">
      <div>
        <p><strong>Home</strong> > <a href="./about">About</a></p>
      </div>
    </div>
  </div>
</div>