
@charset "UTF-8";


@import 'modules/normalize';
@import "modules/variables";
@import "modules/medias";
@import "modules/mixins";
@import "modules/fonts";
@import "modules/easings";

//@import "modules/keyframes";


* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	text-rendering: optimizeLegibility;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,
body{
	overflow: hidden;
}

html {
  font: 100%/1.5 $font;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

main {
  position: fixed;
  top: 0px;
  height: 100vh;
  left: 0px;
  width: 100%;
}

.page,
.wrapper {
  height: 100%;
  width: 100%;
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.vertical {

  text-align:center;
}

