
@charset "UTF-8";


@import 'modules/normalize';
@import "modules/variables";
@import "modules/medias";
@import "modules/mixins";
@import "modules/fonts";
@import "modules/easings";

//@import "modules/keyframes";


* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	text-rendering: optimizeLegibility;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  font-size: ($font / 10px);
  line-height: 1.2;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
 
}


