  </main>


  <% if (context.ENV == 'dev') { %>
	<script src="scripts/vendor.js"></script>
	<script src="scripts/main.js"></script>
	<% } %>
	<% if (context.ENV == 'prod') { %>
	<script src="scripts/vendor.min.js"></script>
	<script src="scripts/main.min.js"></script>
	<% } %>

</body>
</html>