
@charset "UTF-8";


@import 'node_modules/normalize.css/normalize';

@import "modules/variables";
@import "modules/mixins";
@import "modules/grid";
@import "modules/fonts";
@import "modules/medias";
@import "modules/preloader";
@import "modules/keyframes";



* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	text-rendering: optimizeLegibility;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
}



